// 淡入
@keyframes fadeIn {
  from {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
// 高级淡入
@keyframes scaleIn {
  from {
    visibility: visible;
    opacity: 0;
    transform: scale(0);
  }
  to {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }
}
